.page-work-single {
  h1.title {
    font-size: 10rem;
    font-family: $font-family-heading;
    color: $primary;
  }
  .work-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .content {
    > p {
      &:first-of-type {

      }
    }
  }
  .masonry {
    /* Masonry container */
    column-count: 3;
    column-gap: 1em;
  }
  .item {
    /* Masonry bricks or child elements */
    background-color: #ff0101;
    margin: 0 0 1em;
  }
}
