<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          {{ if .Site.Data.social }}
          <ul class="social">
              {{ range .Site.Data.social }}
                  <li><a href="https://github.com/teamfaraday" target="blank"><img width="20" height="20" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fgithub-logo_25231&psig=AOvVaw2RDmjbx4a-aRwIIqRyB8tR&ust=1620863469518000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOis_YzpwvACFQAAAAAdAAAAABAF" title="{{ .name }}" alt="{{ .name }}" /></a></li>
              {{ end }}
          </ul>
          {{ end }}
          <ul class="footer-menu">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>